In [49]:
import pandas as pd
from matplotlib import pyplot as plt
import datetime as dt

In [50]:
taskfile = pd.read_csv('./taskstesting.csv')

In [51]:
taskfile.head()

   Name        Date      TaskDescription TaskCategory TimeTaken
0  Tate  04/18/2023  Something I'm sure.      Editing   0:00:06
1   NaN  04/19/2023                  NaN          NaN   0:00:05
2   NaN  04/19/2023                  NaN          NaN   0:00:04
3  Tate  04/19/2023        Test_task1222      Editing   0:00:11
4  Tate  04/19/2023                 Test     Meetings   0:00:29

In [52]:
category_totals = {}

In [53]:
for category in taskfile['TaskCategory'].unique():
    for time in taskfile.loc[taskfile['TaskCategory'] == category, 'TimeTaken']:
        print(f'{category}: {time}')
        if (category in category_totals):
            time = dt.datetime.strptime(time, '%H:%M:%S').time()
            time_delta = dt.timedelta(hours=time.hour, minutes=time.minute, seconds=time.second)
            category_totals[category] += time_delta
            category_totals[category].time()
        else:
            category_totals[category] = dt.datetime.strptime(str(time), '%H:%M:%S')

Editing: 0:00:06
Editing: 0:00:11
Meetings: 0:00:29
Meetings: 0:00:15
Programming: 0:00:14
Programming: 0:00:12

In [54]:
print(category_totals)

{'Editing': datetime.datetime(1900, 1, 1, 0, 0, 17), 'Meetings': datetime.datetime(1900, 1, 1, 0, 0, 44), 'Programming': datetime.datetime(1900, 1, 1, 0, 0, 26)}