In [122]:
import pandas as pd
from matplotlib import pyplot as plt
import datetime as dt

In [123]:
taskfile = pd.read_csv('./taskstesting.csv')

In [124]:
taskfile.head()

     Name        Date TaskDescription  TaskCategory TimeTaken
0    Tate  2023-04-28  Test Task 2079       Editing  00:56:32
1    Tate  2023-05-25  Test Task 2517       Filming  02:32:07
2    Tate  2023-05-26  Test Task 7612      Meetings  01:24:13
3  Andrew  2023-07-22  Test Task 8686  Social Media  02:39:54
4  Andrew  2023-01-16  Test Task 8949  Social Media  02:48:31

In [125]:
total_times = {}
time_sum = dt.timedelta(0)
for category in taskfile['TaskCategory'].unique():
    time_sum = dt.timedelta(0)
    print (time_sum)

    for time in taskfile.loc[taskfile['TaskCategory'] == category, 'TimeTaken']:
        conv_time = dt.datetime.strptime(time, '%H:%M:%S')
        conv_time = dt.timedelta(hours=conv_time.hour, minutes=conv_time.minute, seconds=conv_time.second)
        time_sum += conv_time
    total_times[category] = [time_sum.seconds]


print(total_times)

0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
{'Editing': [55537], 'Filming': [50170], 'Meetings': [52569], 'Social Media': [64106], 'Research': [24466], 'Programming': [40213], 'Writing': [19905], 'Emails': [37587], 'Admin': [14238]}

In [126]:
total_times = pd.DataFrame.from_dict(total_times, orient='columns')
total_times = total_times.T

In [127]:
total_times.head()

                  0
Editing       55537
Filming       50170
Meetings      52569
Social Media  64106
Research      24466

In [128]:
total_times = total_times.sort_values(by=0, axis=0, ascending=False)
total_times = total_times.T

In [129]:
total_times.head()

,Social Media,Editing,Meetings,Filming,Programming,Emails,Research,Writing,Admin
0,64106,55537,52569,50170,40213,37587,24466,19905,14238